:root {
  --uu-bg: #f5f7f9;
  --uu-primary: #5c67f2;
  --uu-text: #303133;
  --uu-text-secondary: #909399;
  --el-color-primary: #5c67f2;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

body {
  font-family:
    'PingFang SC',
    'Microsoft YaHei',
    system-ui,
    -apple-system,
    sans-serif;
  color: var(--uu-text);
  background: var(--uu-bg);
}
